// Place all the styles related to the coin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #0092c7;
}

#container {
	background-color: #f2f2f2;
	margin: 0 auto;
	max-width: 600px;
	margin-top: 100px;
	border: solid 1px #0092c7;
	border-radius: 10px;
}

.coin {
	display: block;
	height: 250px;
	width: 250px;
	margin: 0 auto;
	margin-top: 25px;
}

.radio-outer {
	margin: 0 auto;
	margin-top: 20px;
	width: 35%;
	//border: solid 1px green;
	//border: solid 1px #222;
}

.head-left {
	width: 49%;
	text-align: center;
	float: left;
	//border: solid 1px red;
}

.tails-right {
	width: 49%;
	text-align: center;
	float: right;
	//border: solid 1px red;
}

.tailsradio, .headsradio {
	//border: solid 1px blue;
	margin: 0 auto;
	text-align: center;

}

#sub_butt {
	text-align: center;
	margin: 15px 0;
	input {
		width: 200px;
		font-weight: bold;
		font-style: helvetica, sans serif;
		font-size: 18px;
	}
}

#bet {
	clear: both;
	margin: 0 auto;
	width: 500px;
	height: 30px;
	text-align: center;
}

#textbox {
	text-align: center;
	margin: 0 auto;
	margin-top: 25px;
}

h2 {
	text-align: center;
	padding: 10px 0px;
}
#top_pages {

}
#top_bar{
	margin: 0 auto;
	text-align: center;
}
#tokens_display {
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: helvetica, sans-serif;
}

.alert-won {
	color: green;
}

.alert-lost {
	color: red;
}

.alert-error {
	color: red;
}

.leaderboard {
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
    list-style: none;

}